.product {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	
	> a {
		color: rgb(107, 114, 128);
		font-size: 12px;
		font-weight: 600;
		line-height: 1.25rem;
		padding: .5rem .75rem;
	}

	.columns {
		column-gap: 1rem;
		display: grid;
		grid-template-columns: 2fr 1fr;
	
		> div {
			display: flex;
			flex-direction: column;
			gap: .5rem;
		}
	}
			
	article {
		background: light-dark(rgb(255, 255, 255), rgb(24, 26, 27));
		border: 1px solid light-dark(rgb(229, 231, 235), rgb(54, 59, 61));
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 1.5rem 2rem 2rem;
	}
	
	header {
		display: flex;
		justify-content: space-between;
		
		> div {
			display: flex;
			gap: .5rem;
		}
	}
	
	h1,
	h2 {
		font-size: 24px;
		font-weight: 600;
		line-height: 2.25rem;
	}
	
	h3 {
		font-size: 14px;
		font-weight: 600;
		line-height: 1.5rem;
	}
	
	dl,
	p {
		color: rgb(107, 114, 128);
	}
	
	dl {
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: .75rem;
	}
	
	dd {
		text-align: right;
		
		&:empty::after {
			content: "–";
		}
	}
	
	.options {
		font-size: 12px;
		font-weight: 600;
		line-height: 1.25rem;

		ul {
			display: flex;
			gap: .25rem;
		}
		
		li {
			background: light-dark(rgb(243, 244, 246), rgb(30, 32, 34));
			border-radius: 8px;
			color: light-dark(rgb(107, 114, 128), rgb(158, 149, 137));
			padding: 6px .75rem;
		}
	}

	.images {
		display: grid;
		gap: .5rem;
		grid-template-columns: repeat(3, 1fr);
		
		> div {
			aspect-ratio: 1 / 1;
			display: flex;
			justify-content: center;
		}
	}
	
	img {
		border-radius: 8px;
		display: block;
		height: auto;
		max-height: 100%;
		max-width: 100%;
		object-fit: contain;
	}
	
	.dropdown-menu {
		position: relative;

		ul {
			background: light-dark(rgb(255, 255, 255), rgb(24, 26, 27));
			border: 1px solid light-dark(rgb(229, 231, 235), rgb(54, 59, 61));
			border-radius: 8px;
			box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
				rgba(0, 0, 0, 0) 0px 0px 0px 0px,
				rgba(0, 0, 0, 0.08) 0px 2px 16px 0px;
			display: none;
			flex-direction: column;
			gap: .25rem;
			left: 50%;
			min-width: 200px;
			padding: .5rem;
			position: absolute;
			translate: -50% .5rem;

			a {
				border-radius: 8px;
				display: flex;
				gap: .5rem;
				padding: 6px .75rem;
				
				&:hover {
					background: light-dark(rgb(249, 250, 251), rgb(27, 29, 30));
				}
			}
			
			span {
				font-size: 12px;
				font-weight: 600;
				line-height: 1.25rem;
			}
		}
	}
}
