.sidebar {
	border-right: 1px solid light-dark(rgb(229, 231, 235), rgb(54, 59, 61));
	flex: 0 240px;
	padding: 1rem;
	
	a {
		align-items: center;
		border-radius: 8px;
		/*
		color: rgb(107, 114, 128);
		*/
		color: light-dark(rgb(17, 24, 39), rgb(214, 211, 205));
		display: flex;
		gap: .75rem;
		padding: .375rem .5rem;

		&.active,
		&:hover {
			background: light-dark(rgb(243, 244, 246), rgb(30, 32, 34));
		}
	}
	
	i {
		align-content: center;
		height: 20px;
		text-align: center;
		width: 20px;
	}
}
