.products {
	background: light-dark(rgb(255, 255, 255), rgb(24, 26, 27));
	border: 1px solid light-dark(rgb(229, 231, 235), rgb(54, 59, 61));
	border-radius: 8px;
	display: flex;
	flex: auto;
	flex-direction: column;
	font-size: 12px;
	gap: 1.5rem;
	line-height: 1.25rem;
	padding: 2rem;
	
	h1 {
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.5rem;
	}
	
	a {
		align-items: center;
		display: flex;
		gap: 1rem;
		margin: .375rem 0;
	}

	.thumbnail {
		align-items: center;
		display: flex;
		height: 40px;
		width: 30px;
	}
	
	img {
		border-radius: 2px;
		display: block;
		height: 100%;
		max-width: 100%;
		object-fit: cover;
	}
}
