.nav {
	left: 0;
	right: 0;
	position: sticky;
	top: 0;
	z-index: 50;

	header {
		background: rgb(24, 26, 27);
		border-bottom: 1px solid rgb(54, 59, 61);
		height: 4rem;
	}

	nav,
	nav > *,
	nav > * > ul,
	nav > * > ul > li {
		height: 100%;
	}

	nav {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 1440px;
		padding: 0 1.5rem;
		
		> * {
			align-items: center;
			display: flex;
			position: relative;
		
			&:not(:nth-child(2)) {
				flex: 1 1 0;
				font-size: 0.75rem;
				line-height: 1.25rem;
			}
			
			&:nth-child(2) {
				font-size: 1.125rem;
				line-height: 1.25rem;
				font-weight: 500;
				text-transform: uppercase;
			}
			
			&:nth-child(3) {
				justify-content: flex-end;
			}
		}
	}
	
	ul {
		display: flex;
		gap: 1rem;
	}
	
	li {
		align-content: center;

		&.cart-item:not(:hover) {
			.cart-dropdown:not(.visible) {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}
